In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('Telco-Customer-Churn.csv')
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [3]:
def prepare_data():
    df.columns = df.columns.str.lower().str.replace(' ', '_')

    categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
    for c in categorical_columns:
        df[c] = df[c].str.lower().str.replace(' ', '_')

In [4]:
prepare_data()

In [5]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [6]:
# coerce will make non numberic values as null, and filla will replace it by 0
# though 0 is not always good, becuase on practie it can mean people did nto spend anything and it is not true, 
# so repalceing by 0 is not always a good idea
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce').fillna(0)

In [7]:
df.churn.unique()

array(['no', 'yes'], dtype=object)

In [8]:
df.churn = (df.churn == 'yes').astype(int)

In [9]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,0,0,1,0,1

In [10]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, random_state=1)
train, val = train_test_split(train, test_size=0.25, random_state=1)

In [11]:
len(train), len(val), len(test)

(4225, 1409, 1409)

In [12]:
y_train = train.churn.values
y_val = val.churn.values
y_test = test.churn.values

In [13]:
X_train = train.reset_index(drop=True)
X_val = val.reset_index(drop=True)
X_test= test.reset_index(drop=True)

del X_train['churn']
del X_val['churn']
del X_test['churn']

In [14]:
y_train

array([0, 0, 1, ..., 1, 0, 1])

In [15]:
X_train.head().T

,0,1,2,3,4
customerid,8015-ihcgw,1960-uycnn,9250-wypll,6786-obwqr,1328-euzhc
gender,female,male,female,female,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,yes,yes
dependents,yes,no,no,yes,no
tenure,72,10,5,5,18
phoneservice,yes,yes,yes,yes,yes
multiplelines,yes,yes,yes,no,no
internetservice,fiber_optic,fiber_optic,fiber_optic,fiber_optic,no
onlinesecurity,yes,no,no,no,no_internet_service
onlinebackup,yes,yes,no,no,no_internet_service
deviceprotection,yes,yes,no,no,no_internet_service
techsupport,yes,no,no,no,no_internet_service
streamingtv,yes,no,no,yes,no_internet_service
streamingmovies,yes,yes,no,no,no_internet_service
contract,two_year,month-to-month,month-to-month,month-to-month,two_year
paperlessbilling,yes,yes,no,yes,no
paymentmethod,electronic_check,electronic_check,electronic_check,electronic_check,mailed_check
monthlycharges,115.5,95.25,75.55,80.85,20.1
totalcharges,8425.15,1021.55,413.65,356.1,370.5

In [19]:
df.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [20]:
df.churn.value_counts(normalize=True)

churn
0    0.73463
1    0.26537
Name: proportion, dtype: float64

^ 26.5 is churn rate

In [21]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int32
dtype: object

In [24]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [30]:
numerical = ['tenure','monthlycharges', 'totalcharges']
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [31]:
df[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [37]:
global_curn = df.churn.mean()
female_curn = df[df.gender == 'female'].churn.mean()
with_partner_curn = df[df.partner == 'yes'].churn.mean()

In [38]:
with_partner_curn / global_curn # Risk ratio: < 1 lower probability

0.7410375164075894

In [40]:
female_curn / global_curn # Risk ratio: ~ 1 same probability

1.014466016021912

In [46]:
from IPython.display import display
for category in categorical:
    df_group = df.groupby(category).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_curn
    df_group['risk'] = df_group['mean'] / global_curn
    display(df_group)

            mean  count      diff      risk
gender
female  0.269209   3488  0.003839  1.014466
male    0.261603   3555 -0.003766  0.985807

                   mean  count      diff      risk
seniorcitizen
0              0.236062   5901 -0.029308  0.889557
1              0.416813   1142  0.151443  1.570686

             mean  count      diff      risk
partner
no       0.329580   3641  0.064210  1.241964
yes      0.196649   3402 -0.068721  0.741038

                mean  count      diff      risk
dependents
no          0.312791   4933  0.047422  1.178700
yes         0.154502   2110 -0.110868  0.582215

                  mean  count      diff      risk
phoneservice
no            0.249267    682 -0.016103  0.939319
yes           0.267096   6361  0.001726  1.006506

                      mean  count      diff      risk
multiplelines
no                0.250442   3390 -0.014927  0.943749
no_phone_service  0.249267    682 -0.016103  0.939319
yes               0.286099   2971  0.020729  1.078114

                     mean  count      diff      risk
internetservice
dsl              0.189591   2421 -0.075779  0.714441
fiber_optic      0.418928   3096  0.153558  1.578656
no               0.074050   1526 -0.191320  0.279044

                         mean  count      diff      risk
onlinesecurity
no                   0.417667   3498  0.152297  1.573906
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.146112   2019 -0.119258  0.550597

                         mean  count      diff      risk
onlinebackup
no                   0.399288   3088  0.133918  1.504645
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.215315   2429 -0.050055  0.811377

                         mean  count      diff      risk
deviceprotection
no                   0.391276   3095  0.125906  1.474456
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.225021   2422 -0.040349  0.847951

                         mean  count      diff      risk
techsupport
no                   0.416355   3473  0.150985  1.568960
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.151663   2044 -0.113706  0.571517

                         mean  count      diff      risk
streamingtv
no                   0.335231   2810  0.069861  1.263261
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.300702   2707  0.035332  1.133143

                         mean  count      diff      risk
streamingmovies
no                   0.336804   2785  0.071434  1.269188
no_internet_service  0.074050   1526 -0.191320  0.279044
yes                  0.299414   2732  0.034044  1.128291

                    mean  count      diff      risk
contract
month-to-month  0.427097   3875  0.161727  1.609440
one_year        0.112695   1473 -0.152675  0.424672
two_year        0.028319   1695 -0.237051  0.106714

                      mean  count      diff      risk
paperlessbilling
no                0.163301   2872 -0.102069  0.615371
yes               0.335651   4171  0.070281  1.264842

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.167098   1544 -0.098271  0.629681
credit_card_(automatic)    0.152431   1522 -0.112939  0.574410
electronic_check           0.452854   2365  0.187484  1.706502
mailed_check               0.191067   1612 -0.074303  0.720003

Mutual information: concept that tells us how much we can learn about one variable if we know the value of other
https://en.wikipedia.org/wiki/Mutual_information

In [48]:
from sklearn.metrics import mutual_info_score

mutual_info_score(df.churn, df.contract)

0.09845305342598942

In [50]:
from IPython.display import display
from sklearn.metrics import mutual_info_score

In [53]:
def mutual_info(series):
    return  mutual_info_score(df.churn, series)

In [56]:
# relative importance
mi = df[categorical].apply(mutual_info)
mi.sort_values(ascending=False)

contract            0.098453
onlinesecurity      0.064677
techsupport         0.063021
internetservice     0.055574
onlinebackup        0.046792
paymentmethod       0.044519
deviceprotection    0.043917
streamingmovies     0.032001
streamingtv         0.031908
paperlessbilling    0.019194
dependents          0.014467
partner             0.011454
seniorcitizen       0.010577
multiplelines       0.000801
phoneservice        0.000072
gender              0.000037
dtype: float64

Contract variable is most important and gender least important

For numerical colums we should use Correlation coefitient

In [57]:
df[numerical].corrwith(df.churn)

tenure           -0.352229
monthlycharges    0.193356
totalcharges     -0.198324
dtype: float64

tenure - amount of months within company. longer -> lower churn
higher monthly churges -> higher churn